<!DOCTYPE html>
<html>
<head>
    <title>Task 5 - Book Stats</title>
</head>
<body>
    <h1>Book Statistics</h1>
    <ul>
        <li><strong>Total number of books:</strong> {{ stats.total_books }}</li>
        <li><strong>Total price of all books:</strong> {{ stats.total_price }}</li>
        <li><strong>Average book price:</strong> {{ stats.avg_price }}</li>
        <li><strong>Maximum book price:</strong> {{ stats.max_price }}</li>
        <li><strong>Minimum book price:</strong> {{ stats.min_price }}</li>
    </ul>
</body>
</html>
